/* This file is for your main application css. */
$primary: #abcdef;
$body-bg: #353535;
$body-color: #dededd;
@import "~bootstrap/scss/bootstrap";
@import "atom-one-light.css";

// Hide alerts if they don't have any content
.alert:empty {
  display: none;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
