<div class="mx-6">
  <h2 class="text-xl font-semibold text-gray-900"><%= @now.description %></h2>
  <%= if @now.date do %>
    <div class="mt-1 text-gray-400">
      Last updated: <%=  Calendar.strftime(@now.date, "%A, %B %d %Y") %>
    </div>
  <% end %>
  <hr/>
  <div class="mt-6 prose">
    <%= raw(@now.body) %>
  </div>
</div>
