<div class="container">
  <%= for article <- @articles do %>
    <div class="row">
      <div class="col">
        <%= if article.date do %>
          <%= Calendar.strftime(article.date, "%B %d %Y") %>
        <% end %>
        <a href="<%= article.id %>">
          <%= article.title %>
        </a>
        <%= if article.draft do %>
          <span class="alert-warning">(draft)</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
