<h5 class="alert alert-warning">DRAFT</h5>
<h2><%= @article.title %></h2>
<%= if @article.draft do %>
<% end %>
<%= if @article.date do %>
  Published: <%=  Calendar.strftime(@article.date, "%A, %B %d %Y") %>
<% end %>
<hr/>
<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <%= raw(@article.body) %>
    </div>
  </div>
</div>
