<div class="mx-6">
  <h2 class="text-xl font-semibold"><%= @now.description %></h2>
  <%= if @now.date do %>
    Last updated: <%=  Calendar.strftime(@now.date, "%A, %B %d %Y") %>
  <% end %>
  <hr/>
  <div class="mt-6 prose">
    <%= raw(@now.body) %>
  </div>
</div>
