<footer class="">
  <div class="">
    <div class="">
      <div class="">
        <a href="https://github.com/joseph-lozano">Github</a>
      </div>
      <div class="">
        <a href="https://twitter.com/josephlozanoXYZ">Twitter</a>
      </div>
      <div class="">
        <a href="mailto:joseph@hey.com">Email</a>
      </div>
      <div class="">
        <a href="/resume.pdf">Resume</a>
      </div>
    </div>
  </div>
</footer>
