<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="<%= assigns[:description] || "The Personal Blog of Joseph Lozano" %>"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Joseph Lozano's Home Page" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendor.js") %>"></script>
    <script></script>
  </head>
  <body>
    <header>
      <div class="container">
        <%= render "_nav.html", conn: @conn %>
      </div>
    </header>
    <br/>
    <div class="content">
      <%= @inner_content %>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row mb-3 justify-content-center">
          <div class="col-1">
            <a href="https://github.com/joseph-lozano">Github</a>
          </div>
          <div class="col-1">
            <a href="https://twitter.com/josephlozanoXYZ">Twitter</a>
          </div>
          <div class="col-1">
            <a href="mailto:joseph@hey.com">Email</a>
          </div>
          <div class="col-1">
            <a href="/resume.pdf">Resume</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
