
  <div class="sm:mx-auto mx-4">
    <header>
      <%= render "_nav.html", conn: @conn %>
    </header>
    <br/>
    <p class=""><%= get_flash(@conn, :info) %></p>
    <p class=""><%= get_flash(@conn, :error) %></p>
    <div class="mb-auto">
      <%= @inner_content %>
    </div>
  </div>
